body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "semibold";
  src: local("semibold"),
    url("./fonts/proximanova_semibold.woff2") format("truetype");
  font-weight: bold;
  font-family: "regular";
  src: local("regular"),
    url("./fonts/proximanova_regular.woff2") format("truetype");
}
